[Desktop Entry]
Name=Windows Reboot
GenericName=Win10
Exec=/home/aiden/.local/bin/reboot-to-windows
Terminal=false
Type=Application
Categories=Network;
