[submodule "ext/z"]
	path = ext/z
	url = git@github.com:rupa/z.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "ext/git-fuzzy"]
	path = ext/git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git
[submodule "to-install/osx/appsupport/ubersicht/widgets/simple-bar"]
	path = to-install/osx/appsupport/ubersicht/widgets/simple-bar
	url = https://github.com/Jean-Tinland/simple-bar
