[core]
	editor = /usr/bin/vim
	whitespace = trailing-space,space-before-tab
[user]
	name = Aiden Scandella
	email = aiden.scandella@socrata.com
[push]
	default = tracking
[diff]
	renames = copies
	mnemonicprefix = true
[branch]
	autosetupmerge = true
	autosetuprebase = always
[alias]
        ir = !git rebase -i origin/master
        up = !git fetch origin && git rebase origin/master
        rmb = !sh -c 'git branch -D $1 && git push origin :$1' -
        who = shortlog -n -s --no-merges
        lol = log --oneline --decorate
        edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; $VIM_DIFFER `f` +Gdiff"
        add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

[color]
	ui = true
