zmodule zsh-users/zsh-completions --fpath src
zmodule completion
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
zmodule Tarrasch/zsh-autoenv
zmodule Tarrasch/zsh-command-not-found
zmodule spaceship-prompt/spaceship-prompt --name spaceship

# https://github.com/spaceship-prompt/spaceship-prompt/blob/eed57700e30a36993e9107c8f3259289ac6828bd/docs/options.md
SPACESHIP_PROMPT_ORDER=(
  time      # Time stamps section
  user      # Username section
  dir       # Current directory section
  host      # Hostname section
  git       # Git section (git_branch + git_status)
  package   # Package version
  golang    # Go section
  rust      # Rust section
  venv      # virtualenv section
  terraform # Terraform workspace section
  exec_time # Execution time
  line_sep  # Line break
  battery   # Battery level and status
  vi_mode   # Vi-mode indicator
  jobs      # Background jobs indicator
  exit_code # Exit code section
  char      # Prompt character
)

# vi: ft=sh
