# https://gist.github.com/ansemjo/b9337e330cd7dd7b6d2dd36c6400fc1b

# Place this file in ~/.config/systemd/user/ssh-auth-sock.service
# $ systemctl --user daemon-reload
# $ systemctl --user enable --now ssh-auth-sock.service
# Add 'echo UPDATESTARTUPTTY | gpg-connect-agent >/dev/null' in your ~/.bashrc.
# Logout or reboot.

[Unit]
Description=Set SSH_AUTH_SOCK to GnuPG agent
Wants=gpg-agent-ssh.socket

[Service]
Type=oneshot

# set environment
ExecStart=/usr/bin/bash -c 'systemctl --user set-environment \
  SSH_AUTH_SOCK=$(gpgconf --list-dirs agent-ssh-socket)'

[Install]
WantedBy=default.target
