[Unit]
AssertPathExists=/home/%i/.local/bin

[Service]
Environment=DISPLAY=:0
ExecStart=/home/%i/.local/bin/thinkpad_x1_yoga_rotation.py
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
