ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1c11", ATTRS{idProduct}=="b04d", RUN+="/usr/bin/su aiden -c '/home/aiden/.local/bin/bind-dvorak'"
ACTION=="add", ATTRS{idVendor}=="1b1c", ATTRS{idProduct}=="1b2d", RUN+="/usr/bin/su aiden -c '/home/aiden/.local/bin/bind-dvorak'"
